:root{
    --primary:navy;
    --secondary:hotpink;
    --tertiary:darkgrey;
}

body{
    background-color: var(--primary);
}

header{
    text-align: center;
}

h1{
    color: var(--secondary);
}

p{
    color:var(--tertiary);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* min-width: 20%; */
    align-items: center;
    justify-content: center;
    border:solid var(--tertiary);
    border-radius: 4%;   
    flex: 1 0 0;
    text-align: center;
    padding:10px;
   
}

.card:hover{
    border-style: dotted;
    box-shadow: 5px 5px 10px var(--secondary);
}

h2{
    display: relative;
    border:solid var(--tertiary);
    border-radius: 10%;
    padding: 20px;
    color: var(--secondary);
    width: 50%;
    background-color: var(--primary);
    margin-top: -20px;
}

.card p{
    display: absolute;
    text-align: center;
    padding:5px;
    margin-top: 5px;
}

.info{
    color: var(--tertiary);
    width:100%;
    padding: 10px;
    user-select: all;
    min-width: 400px;
    background-image: linear-gradient(var(--primary) ,var(--secondary));
    border: solid var(--tertiary);
    border-radius: 4%;
    text-align: left;
    width:80%;
    /* align-self: center; */
   
    
}


h3{
    color: var(--secondary);
    text-align: center;
}

@media screen {
    
}