:root{
    --primary:navy;
    --secondary:hotpink;
    --tertiary:darkgrey;
}

body{
    background-color: var(--primary);
}

header{
    text-align: center;
}

h1{
    color: var(--secondary);
}

p{
    color:var(--tertiary);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin: 20px;
    min-width: 20%;
    align-content: center;
    justify-content: center;
    border:solid var(--tertiary);
    border-radius: 4%;   
    flex: 1 0 32%;
}

.card:hover{
    border-style: dotted;
    box-shadow: 5px 5px 10px var(--secondary);
}

h2{
    display: absolute;
    border:solid var(--tertiary);
    border-radius: 10%;
    padding: 5px;
    color: var(--secondary);
    width: 50%;
    background-color: var(--primary);
    display: relative;
    margin-top: -20px;
    text-align: center;
    z-index: 0;
}

.card p{
    display: absolute;
    text-align: center;
    padding:5px;
    margin-top: 5px;
}

pre{
    color: var(--tertiary);
    width:33.33%;
    padding: 10px;
}


h3{
    color: var(--secondary);
    text-align: center;
}

@media screen {
    
}